@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;


.main__btns{
    display: flex;
    justify-content: space-around;
    height: auto;
    // width: 100%;//480
padding-left: 0;
    margin: auto;
    border:solid greenyellow;
    margin: 3rem ;//10px 
    
    .main__btns-list{

        border:solid firebrick;
        margin: auto;     
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; //480
        flex-direction:column;
        .main__btns-item{
            border: solid purple;
            // margin: auto;
            // display:flex;
            // width: 100%;
            .main__btn{
                @include font-bold(1.5rem) ;//24px
                color:$color-navy;
                border-radius: 0.3rem;
                border: solid lawngreen;
                

                &.onsite{
                    @include button-secondary();
                }
                &.online{
                @include button-styles(transparent, $color-light-blue);
                    text-decoration: underline;

                }
            }
        }
    }
  }

  @include large-screen{
  .main__btns{
    display: flex;
    justify-content: space-around;
    
    transform: translateY(-58%); //468px


    
    .main__btns-list{
        width:100%;
        display: flex;
        flex-direction: row-reverse;
        .main__btns-item{
            width:100%;//308-10/1280

            .main__btn{

                &.online{
                    background-color: $color-red;
                    color:white;
                    text-decoration: none;
                    @include font-bold(1.4rem);//24;
                    min-width:100%;

                }
                &.onsite{
                    min-width: 100%;
                }
            }
        }
    }
  }

}