@use '../../global-styles/_colors.scss' as *;
@use '../../global-styles/_fonts.scss' as *;
@use '../../global-styles/_screens.scss' as *;
@use '../../global-styles/_buttons.scss' as *;
@use 'header.scss';
@use 'testimonials.scss';
@use 'story.scss';
@use 'rooms.scss';
@use 'play.scss';
@use 'footer.scss';
@use 'online-onsite-btns.scss';



*{
    box-sizing: border-box;
    margin: 0;
}
body {
  margin: 0;
  width: 100vw; //480px
  height: 100vh;
  max-width:1280px;
  @include font-style();
}

ul{
    list-style: none;
}
//*************main******************
.main {
  width: 100vw;// 480
  max-width: 1280px;
  .main__image {
    display:block;
    width: 100vw;// 480 px
    height: auto; //274 px
    min-width:370px;
    .main__image-img{
        width: 100%; //480
        height: auto; // 274px


    }
  }

}

@include large-screen {
  body {
    max-width: 1280px;
  }
  
  .main {
    .main__top-area{
    .main__image {
        display:block;
        width: 100vw; //1280
        max-width: 1280px;
        // height: 468px;
        height: auto;
        width: auto;
        // position: relative;
        .main__image-img{
            width: 100%;
            height: auto;
            // max-width: 100%;
            // position:relative;
  }
}

    }



  }}
