// Carousel Animation Mixin
@mixin carousel-animation($duration, $delay, $num-items) {
    @include common-carousel-styles; // Shared styles
  
    @keyframes slideShow {
      0%, 45% { // Visible for the first 45%
        opacity: 1;
        display: flex;
      }
      50%, 100% { // Hidden from 50% to 100%
        opacity: 0;
        display: none;
      }
    }
  
    // Apply animation to each testimonial
    @for $i from 1 through $num-items {
      &:nth-child(#{$i}) {
        animation: slideShow $duration infinite ease-in-out #{$delay * ($i - 1)}s;
      }
    }
  }
  
  // Mixin for Creating Carousel Dots
  @mixin create-carousel-dots($num-items) {
    .dots {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
  
      @for $i from 1 through $num-items {
        .dot:nth-child(#{$i}) {
          height: 10px;
          width: 10px;
          background-color: #ccc;
          border-radius: 50%;
          margin: 0 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &.active {
            background-color: rgb(247, 102, 12);
          }
        }
      }
    }
  }
  
  // Shared Carousel Styles
  @mixin common-carousel-styles {
    display: none;
    flex-shrink: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  
    &.carousel--active {
      display: flex;
      opacity: 1;
    }
  }
  